{% extends 'base.html.twig' %}

{% block title %}Création nouvelle utilisateurs{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("assets/css/create_ut.css") }}" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}


{% block body %}

    {{ include('header.html.twig') }}

    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

    <div class="container-fluid">
        {% for message in app.flashes('sucess') %}
            <div class="flash-sucess">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="text-center mb-3 mt-4">Création d'un nouvel utilisateur :</h1>
        <div class="row">
            <div class="cube col-sm-9 ms-4">
                {{ form_start((registrationForm)) }}
                <div class="row">
                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.nomFam_ut) }}
                        {{ form_widget(registrationForm.nomFam_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.nomUs_ut) }}
                        {{ form_widget(registrationForm.nomUs_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.pre_ut) }}
                        {{ form_widget(registrationForm.pre_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.dayBirth_ut) }}
                        {{ form_widget(registrationForm.dayBirth_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.firstAdress_ut) }}
                        {{ form_widget(registrationForm.firstAdress_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.compAdress_ut) }}
                        {{ form_widget(registrationForm.compAdress_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.city_ut) }}
                        {{ form_widget(registrationForm.city_ut) }}
                    </div>

                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.cp_ut) }}
                        {{ form_widget(registrationForm.cp_ut) }}
                    </div>
                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.id_card) }}
                        {{ form_widget(registrationForm.id_card) }}
                    </div>
                    <div class="col-sm-6 mt-1">
                        {{ form_label(registrationForm.cimetieres) }}
                        {{ form_widget(registrationForm.cimetieres) }}
                    </div>
                </div>
                {{ form_rest(registrationForm) }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn mb-3">Valider</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="menu col-md-2 ms-3">
                <div class="d-grid gap-2">
                    <a type="button" href="{{ path('utilisateurs_index') }}" class="btn mt-3">Retour</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
