{% extends 'base.html.twig' %}

{% block title %}Gestionnaire index{% endblock %}

{% block body %}
    <h1>Gestionnaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant du Gestionnaire :</th>
                <th>Roles :</th>
                <th>Nom :</th>
                <th>Prénom :</th>
                <th>actions :</th>
            </tr>
        </thead>
        <tbody>
        {% for gestionnaire in gestionnaires %}
            <tr>
                <td>{{ gestionnaire.id }}</td>
                <td>{{ gestionnaire.idenGes }}</td>
                <td>{{ gestionnaire.roles ? gestionnaire.roles|json_encode : '' }}</td>
                <td>{{ gestionnaire.nomGes }}</td>
                <td>{{ gestionnaire.prenGes }}</td>
                <td>
                    <a href="{{ path('gestionnaire_show', {'id': gestionnaire.id}) }}">Voir</a>
                    <a href="{{ path('gestionnaire_edit', {'id': gestionnaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gestionnaire_new') }}">Create new</a>
{% endblock %}
