{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
    <h1>Gestionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id :</th>
                <td>{{ gestionnaire.id }}</td>
            </tr>
            <tr>
                <th>Identifiant du gestionnaire :</th>
                <td>{{ gestionnaire.idenGes }}</td>
            </tr>
            <tr>
                <th>Roles :</th>
                <td>{{ gestionnaire.roles ? gestionnaire.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ gestionnaire.nomGes }}</td>
            </tr>
            <tr>
                <th>Prénom :</th>
                <td>{{ gestionnaire.prenGes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gestionnaire_index') }}">Retour à l'index</a>

    <a href="{{ path('gestionnaire_edit', {'id': gestionnaire.id}) }}">Modifier</a>

    {{ include('gestionnaire/_delete_form.html.twig') }}
{% endblock %}
